body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-switch{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    padding: 5px;
    margin: 5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.switch{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 5px;
    left: 5px;  
    border: 0.2rem solid #ccc;
    transition: transform 0.3s linear, background-color 0.3s linear;
    font-weight: bold;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ON{
    background-color: #4caf50;
    transform: translateX(150px);
}
.OFF{
    background-color: #f44336;
    transform: translateX(0);
}

.switch-state{
    margin: 0 10px;
    text-transform: uppercase;
}