
body{
    background-color: black;
    width: 100%;    
    overflow: hidden;
}
.form1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.todo-input{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.todo-btn{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.checkList{
    text-decoration: line-through;
}
.notcheckList{
    text-decoration: none;
}
.clear-btn{
    background-color: #e74c3c;
    color: white;
    border: none;
    width: 120px;
    margin-left: 19rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem 2.2rem;
    border-radius: 0.3rem;
}
.header,
.form,
.datetime,
.unOrderList
{
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}
.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}
section h1{
    color: #fff;
    font-size: 4.8rem;
    text-align: center;
}
.unOrderList{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.unOrderList li{
    border-radius: 25px;
    padding: 0px 20px;
    background: white;
   color: black;
}   
.list{
    display: flex;
    gap: 10px;
    font-size: 2rem;
    /* width: 100%; */
}