@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: sans-serif;
}
h1{
    font-size: 3.2rem;
}
h1,h3{
    margin: 1.5rem 1rem;    
}
p{
    margin: 1.5rem 1rem;
    
}
p,
li,
label,
a{
    font-family: sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-weight: 400;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}
.grid{
    display: grid;
    gap: 9.6rem;
}
.grid-two-cols{
    grid-template-columns: repeat(2, 1fr) ;
}
.grid-three--cols{
    grid-template-columns: repeat(2, 1fr) ;
}
